@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav_link {
        @apply relative  text-xl w-fit block after:block after:content-[''] after:absolute after:h-[3px]
        after:bg-blue-400 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right
    }
    .custom-bg {
        background-image: linear-gradient(to right, rgba(0,0,0,0.836), rgba(0,0,0,0.811)), url("/src/assets/world-by-nasa.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0,100% 0, 100% 95%, 0% 100%);
    }

    .heading__mini{
        @apply text-[17px] text-white opacity-75
    }

    .heading__primary{
        @apply mt-[0.6rem] p-2 sm:p-0 leading-[3.5rem] text-white text-[27px] md:text-[30px] lg:text-[38px] xl:text-[45px]
    }
}